#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define HYPER LS(LA(LC(LCMD)))

&mt {
    flavor = "balanced";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "base";
            bindings = <
    &none     &kp Q       &kp W      &kp F      &kp P       &kp B        &kp J     &kp L       &kp U      &kp Y      &kp SEMI    &kp BSLH
    &kp ESC   &mt LCTRL A &mt LALT R &mt LCMD S &mt LSHFT T &kp G        &kp M     &mt RSHFT N &mt RCMD E &mt RALT I &mt RCTRL O &kp SQT
    &none     &kp Z       &kp X      &kp C      &mt HYPER D &kp V        &kp K     &mt HYPER H &kp COMMA  &kp DOT    &kp FSLH    &caps_word
                                     &none      &lt 1 TAB   &kp SPACE    &kp BSPC  &lt 2 RET   &none
            >;
        };

        symbols_layer {
            display-name = "symbols";
            bindings = <
    &trans    &kp N1      &kp N2     &kp N3     &kp N4      &kp N5       &kp N6    &kp N7      &kp N8     &kp N9     &kp N0      &trans
    &kp TILDE &kp EXCL    &kp PLUS   &kp LPAR   &kp RPAR    &kp AMPS     &kp PIPE  &kp MINUS   &kp EQUAL  &kp UNDER  &kp STAR    &trans
    &trans    &kp DLLR    &kp AT     &kp LBKT   &kp RBKT    &kp HASH     &kp GRAVE &kp LBRC    &kp RBRC   &kp PRCNT  &kp CARET   &trans
                                     &trans     &trans      &trans       &trans    &trans      &trans
            >;
        };

        extend_layer {
            display-name = "extend";
            bindings = <
    &trans    &trans     &kp C_PREV  &kp C_PP   &kp C_NEXT  &trans       &trans    &trans      &kp UP     &trans     &trans      &trans
    &trans    &trans     &trans      &trans     &trans      &trans       &trans    &kp LEFT    &kp DOWN   &kp RIGHT  &trans      &trans
    &trans    &trans     &trans      &trans     &trans      &trans       &trans    &trans      &trans     &trans     &trans      &trans
                                     &trans     &trans      &trans       &trans    &trans      &trans
            >;
        };

        adjust_layer {
            display-name = "adjust";
            bindings = <
    &trans    &kp F1     &kp F2      &kp F3     &kp F4      &kp F5       &kp F6    &kp F7      &kp F8     &kp F9     &kp F10     &trans
    &trans    &trans     &trans      &trans     &trans      &trans       &trans    &trans      &trans     &trans     &kp F11     &trans
    &trans    &trans     &trans      &trans     &trans      &trans       &trans    &trans      &trans     &trans     &kp F12     &trans
                                     &trans     &trans      &trans       &trans    &trans      &trans
            >;
        };

        conditional_layers {
            compatible = "zmk,conditional-layers";
            tri_layer {
                if-layers = <1 2>;
                then-layer = <3>;
            };
        };
    };
};
